UserInterfaceState.xcuserstate
MyPortfolio.xcodeproj/xcuserdata/moni.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MyPortfolio.xcodeproj/xcuserdata/moni.xcuserdatad/xcschemes/xcschememanagement.plist
